

.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #c6db0d, #5494a4); 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px; /* Add padding for better spacing on smaller screens */
}

.login-form {
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
  padding: 30px;
  border-radius: 8px; /* Rounded corners */
  max-width: 400px; /* Add a max-width for better responsiveness */
  width: 100%; /* Make it take full width on smaller screens */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px; /* Add shadow for depth */
}

.login-form h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px; /* Reduce margin for better spacing */
  color: #344265;
  font-size: 24px; /* Adjust font size for better readability */
}

.login-form .ant-form-item-label label {
  color: #344265 !important;
}

.login-form button {
  background-color: #344265;
  color: white;
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding for better button size */
  font-size: 16px; /* Adjust font size for better readability */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.login-form button:hover {
  background-color: #2a2d45; /* Slightly lighter hover color */
  color: white;
}

.login-form a {
  color: #344265 !important;
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.login-form a:hover {
  color: #2a2d45 !important; /* Slightly lighter hover color */
}

/* Media queries for responsive design */
@media (max-width: 767.98px) {
  .login-form {
    margin-left: 0; /* Remove negative margin on smaller screens */
  }

  .login-form h1 {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .login-form button {
    width: 100%; /* Make button take full width on smaller screens */
  }

  .login-form .d-flex {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: flex-start; /* Align items to the start */
  }

  .login-form .d-flex a,
  .login-form .d-flex button {
    width: 100%; /* Make links and buttons take full width */
    text-align: center; /* Center text */
    margin-bottom: 10px; /* Add margin for better spacing */
  }
}
