.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.register-form {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  max-width: 500px; /* Add a max-width for better responsiveness */
  width: 100%; /* Make it take full width on smaller screens */
}

.register-form h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #b87333;
}

.register-form a {
  color: #b87333 !important;
}

.register-form a:hover {
  color: black !important;
}

.register-form button {
  background-color: #b87333;
  color: white;
}

.register-form input:focus {
  border: 1px solid #b87333 !important;
  color: #b87333;
}

.register-form button:hover {
  background-color: black;
  color: white;
}

/* Media queries for responsive design */
@media (max-width: 767.98px) {
  .register-page {
      padding: 20px; /* Add padding on smaller screens */
  }

  .register-form {
      width: 100%; /* Ensure the form takes full width on smaller screens */
  }
}